
# Editors/IDE
# Logs and temp files
# Python
# macOS
*$py.class
*.egg-info/
*.log
*.py[cod]
*.pyc
*.pyd
*.pyo
*.swp
*.tmp
.DS_Store
.idea/
.venv/
.vscode/
__pycache__/
build/
dist/
env/
pip-wheel-metadata/
venv/
